/* baggrund */
body {
    font-family: "Times New Roman", serif;
    background-color: rgb(220, 243, 255);
}


.button1 {
    border: 1px solid rgb(11, 71, 144);
    background-color: rgb(11, 71, 144);
    color: white;
    height: 30px;
    position: absolute;
    right: 10px;
    border-radius: 5px;
}

.button1:hover {
    background-color: rgb(2, 32, 69);
}

.button1:active {
    background-color: rgb(2, 32, 69);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#canvas{
    left: 250px;
    background-color: ghostwhite;
    height: auto;
    position: absolute;
    border-radius: 5px;

}
#myCanvas {
    border:1px solid #000000;
    border-radius: 5px;
    width:1000px ;
    height:600px;
}

/* Dropdown Button */
.VaelgerKnap {
    background-color: rgb(11, 71, 144);
    color: white;
    font-size: 16px;
    border: none;
    height: 30px;
    border-radius: 5px;
}

.ekgVaelger{
    background-color: ghostwhite;
    width: 150px;
    height: 600px;
    position: absolute;
    border:1px solid #000000;
    border-radius: 5px;
}

#cpr {
    min-width: 150px;
    background-color: ghostwhite;
    border:1px solid #000000;
}
