/* baggrund */
body {
    font-family: "Georgia", serif;
    background-color: #90D7FF;
}


.button1 {
    border: 1px solid white;
    background-color: ghostwhite;
    color: black;
    height: 30px;
    position: absolute;
    right: 10px;
    border-radius: 5px;
}

.button1:hover {
    background-color: lightgray;
}

.button1:active {
    background-color: lightgray;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#canvas{
    left: 250px;
    background-color: ghostwhite;
    height: auto;
    position: absolute;
    border-radius: 5px;

}
#myCanvas {
    border:1px solid #000000;
    border-radius: 5px;
    width:1000px ;
    height:600px;
}

/* Dropdown Button */
.VaelgerKnap {
    background-color: ghostwhite;
    color: black;
    font-size: 16px;
    border: none;
    height: 30px;
    border-radius: 5px;
}

.VaelgerKnap:hover {
    background-color: lightgray;
}

.VaelgerKnap:active {
    background-color: lightgray;
    box-shadow: 0 5px #666;
    transform: translateY(0.5px);
}

.ekgVaelger{
    background-color: ghostwhite;
    width: 150px;
    height: 600px;
    position: absolute;
    border:1px solid #000000;
    border-radius: 5px;
}

#cpr {
    min-width: 150px;
    background-color: ghostwhite;
    border:1px lightgray;
    border-radius: 5px;
}
