* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* baggrund. tog bare et random billede kan altid ændres */
body {
    background-color: #90D7FF;
    background-size: cover;
    font-family: "Georgia", serif;
}

/* Centrer boksen, som den er i midten */
.loginBoks {
    height: 1000px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Den sorte boks i midten */
.form {
    position: relative;
    width: 100%;
    max-width: 380px;
    height: 60%;
    padding: 80px 40px 40px;
    background: ghostwhite; /* baggrunds farven*/
    border-radius: 10px;
    color: black;
}

/* overskrift bliver centreret */
.form h1 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: black;
}
.form .input-gruppe {
    position: relative;
}

/* laver det til en linje frem for en boks */
.form .input-gruppe input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black ;
    outline: none;
    background-color: transparent;
    color: inherit;
}

/* fikser spacing */
.form .input-gruppe label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: .3s ease-out;
}

/* gør at teksten flytter sig op når man skal til at skrive */
.form .input-gruppe input:focus + label,
.form .input-gruppe input:valid + label {
    transform: translateY(-18px);
    color: black;
    font-size: .8rem;
}

/* rest og login knappen */
.knap {
    display:inline-block;
    outline: none;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 45px;
    border-radius: 5px;
    cursor: pointer;
}

.knap:hover { background-color: #1c1c1c;}

.knap:active {
    background-color: #202120;
    box-shadow: 0 5px #666;
    transform: translateY(0.5px);
}

/* øje icon */
i{
    color: gray;
    position: absolute;
    cursor: pointer;
}

